body {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% auto;
  overflow: hidden;
}

div.button1 {
  margin-top: 0px;
  margin-left: 0px;
  float: left;
}

.button1 {
  width: 120px;
  height: 30px;
  border: none;
  color: #000000;
  opacity: 0%;
}

div.button2 {
  margin-top: 0px;
  margin-left: 0px;
  float: left;
}

.button2 {
  width: 120px;
  height: 30px;
  border: none;
  color: #000000;
  opacity: 0%;
}

.cursor {
  position: absolute;
  bottom: -100px;
  width: 70px;
  height: 70px;
  cursor: none;
  pointer-events: none;
}
